<% layout('/layouts/boilerplate.ejs') %>




<script>
    
async function sweetalert(){

await  Swal.fire({
  icon: "error",
  title: "Oops...",
  text: "Something is wrong  " ,
  footer: '<a href="#">Why do I have this issue?</a>'
});
}

sweetalert();
</script>
