<% layout('/layouts/boilerplate.ejs') %>
<body>
    <h2>All listing</h2>

    <!-- <form action="/listings/new" method="GET">
        <button>List new Hotel</button>
    </form> -->

    <ul>

        <% for( let listing of allListings) { %>
            <div class="container">
                
                
                <li><a href="/listings/<%= listing._id  %>"><%= listing.title  %></a></li>
                
                
                
                
            </div>
            <% } %>
        </ul>

</body>
