<% layout('/layouts/boilerplate.ejs') %>
<body>
    <h2>Add new Hotel</h2>
    <form method="post" action="/listings">
        <input type="text" name="title" placeholder="Enter your Title"><br><br>
        <textarea name="description"  cols="30" rows="10" placeholder="Give brief description  about the hotel"></textarea><br><br>
        <input type="text" name="image" placeholder="Enter your Image url"><br><br>
        <input type="number" name="price"><br><br>
        <input type="text" name="location" placeholder="Enter your location"><br>
        <input type="text" name="country" placeholder="Enter your country"><br>
        <button>Add on List</button>
    </form>
</body>


