<% layout('/layouts/boilerplate.ejs') %>
    <div class="row">
        <div class="col-8 offset-2">
            <!-- <h2>Add new Hotel</h2> -->
            <form method="post" action="/listings" class="needs-validation" id="new-listing-form" novalidate
                enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" id="title" name="title" class="form-control" placeholder="Add a catchy title"
                        required />
                    <div class="valid-feedback">Nice one !</div>
                    <div class="invalid-feedback">Title name is must</div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="description" id="description" class="form-control"
                        placeholder="Give brief description  about the hotel" required></textarea>
                    <div class="valid-feedback">Good description !</div>
                    <div class="invalid-feedback">description is must</div>
                </div>

                <!-- Image link -->
                <div class="mb-3">
                    <label for="urlImage" class="form-label">image</label>
                    <input type="text" name="image" id="urlImage" class="form-control"
                        placeholder="Enter your Image url" />
                </div>

                <!-- upload file -->
                <div class="mb-3">
                    <label for="fileImage" class="form-label">image</label>
                    <input type="file" name="image" id="fileImage" class="form-control"
                        placeholder="Enter your Image url" />
                </div>

                <div class="row">

                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" name="price" class="form-control" id="price" value="1200" required />
                        <div class="valid-feedback">As you wish :) </div>
                        <div class="invalid-feedback">You want to submit without Price :/ </div>
                    </div>


                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">country</label>
                        <input type="text" name="country" class="form-control" id="country" placeholder="India"
                            required />
                        <div class="valid-feedback">Wow !!</div>
                        <div class="invalid-feedback">Do you from Antarctica ?</div>
                    </div>
                </div>


                <div>
                    <label for="location" class="form-label">location</label>
                    <input type="text" name="location" class="form-control" id="location"
                        placeholder="Vadodara , Gujarat" required />
                    <div class="valid-feedback">Wow !!</div>
                    <div class="invalid-feedback">You'r hotel is on Moon ?</div>
                </div>
                <br>

                <!-- Tags -->
                <div>
                    <label for="tags" class="form-label">Tags</label>
                    <select class="form-control" name="tags" id="tags">

                        <option value="null">--Select Tags--</option>
                        <option value="Trending">Trending </option>
                        <option value="Rooms">Rooms </option>
                        <option value="Iconic cities">Iconic cities </option>
                        <option value="Mountains">Mountains </option>
                        <option value="Castles">Castles </option>
                        <option value="Amazing pools">Amazing pools </option>
                        <option value="Camping">Camping </option>
                        <option value="Farms">Farms </option>
                        <option value="Arctic">Arctic </option>


                    </select>
                    <div id="selected-tags"></div>
                </div>

                <br><br>

                <button class="btn btn-red ">Add on List</button>
            </form>
        </div>
    </div>
    <script>

        // Tags
        document.getElementById('tags').addEventListener('change', function () {
            let selectedTag = this.value;
            if (selectedTag !== "null") {
                removeOption(selectedTag)
                selectedTag += " "
                addTag(selectedTag)
            }
            this.value = "null";
        });

        function addTag(tag) {
            const selectedTagsContainer = document.getElementById('selected-tags');

            // Create a new tag element
            const tagElement = document.createElement('span');
            tagElement.className = 'tag-item';
            tagElement.textContent = tag;

            // Create a close button for the tag
            const closeButton = document.createElement('i');
            closeButton.className = 'fa-solid fa-circle-xmark';
            closeButton.innerHTML = '&nbsp; &nbsp;';
            closeButton.onclick = function () {
                selectedTagsContainer.removeChild(tagElement);
                addOption(tag);
            };

            // Append the close button to the tag element
            tagElement.appendChild(closeButton);

            // Add the tag element to the selected tags container
            selectedTagsContainer.appendChild(tagElement);
        }

        function removeOption(tag) {
            const select = document.getElementById('tags');
            for (let i = 0; i < select.options.length; i++) {
                if (select.options[i].value === tag) {
                    select.remove(i);
                    break;
                }
            }
        }

        function addOption(tag) {
            const select = document.getElementById('tags');
            const option = document.createElement('option');
            option.value = tag;
            option.textContent = tag;
            select.appendChild(option);
        }


        function getSelectedTags() {
            const tagElements = document.querySelectorAll('#selected-tags .tag-item');
            return Array.from(tagElements).map(tagElement => tagElement.textContent.trim());
        }
        document.getElementById('new-listing-form').addEventListener('submit', function (event) {
            // Prevent the form from submitting immediately
            event.preventDefault();
            const form = event.target;
            if (!form.checkValidity()) {
                //form.reportValidity(); // Shows validation messages
                return; // Stop the form from submitting
            }

            // Get the form element


            // Get the selected tags
            const tags = getSelectedTags();

            // Create a hidden input field to store the tags array as a JSON string
            const hiddenInput = document.createElement('input');
            hiddenInput.type = 'hidden';
            hiddenInput.name = 'tagsArray';
            hiddenInput.value = JSON.stringify(tags);

            console.log(hiddenInput.value)

            // Append the hidden input to the form
            form.appendChild(hiddenInput);
            form.submit();
        });


        //File upload
        const fileUpload = document.getElementById("fileImage");
        const urlUpload = document.getElementById("urlImage");

        fileUpload.addEventListener('change', (event) => {
            if (urlUpload.value) {
                Swal.fire({
                    icon: "error",
                    title: "Sorry",
                    text: "You already give url and upload image ,  so url removed",
                    // footer: '<a href="https://jaiminpatel345.github.io/Portfolio/#Feedback">Want to give feedback on this ?</a>'
                });
                urlUpload.value = ""
                event.preventDefault()
                event.stopPropagation()
            }
        })

        urlUpload.addEventListener('change', (event) => {
            console.log(fileUpload.files)
            if (fileUpload.files.length != 0) {
                Swal.fire({
                    icon: "error",
                    title: "Sorry",
                    text: "You already upload image ,  so we removed uploaded image",
                    // footer: '<a href="https://jaiminpatel345.github.io/Portfolio/#Feedback">Want to give feedback on this ?</a>'
                });
                fileUpload.value = ''
                event.preventDefault()
                event.stopPropagation()
            }
        })

    </script>