body{
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container{
    flex: 1;
}

.navbar{
    height: 5rem;
}

.fa-compass{
    color: #FF496A;
    font-size: 2rem;
}


/* css button.app */
.bn3637 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 3rem;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 30px;
  }
  .bn38 {
    border-color: transparent;
    transition: background-color 0.3s ease-in-out;
  }
    
  /* .bn38:hover {
    background-color: #eae6e6a3;
  } */


  /* Footer */
  .f-info-links a{
    text-decoration: none;
    color: #222222;
  }

  .f-info-links a:hover{
    text-decoration: underline;
  }

  .f-info{
    width: 100%;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ebebeb;
    font-size: 1.2rem;
  }

  .f-info-socials i{
    justify-self: center;
    margin-left: 1.1rem;
  }


  .btn-primary{
    background-color: #FF496A !important; 
  }


  /* card */
  .card{
    margin-bottom: 2rem;
    border: none;
  }

  .card-img-top{
    height: 300px;
    width: 300px;
    border-radius: 1rem;
    object-fit: cover;
  }


  .listing-link{
    text-decoration: none;   
}





/* Show  */
.show-img{
    height: 300px;
    width: 700px;
}

.btn-red{
    background-color: #FF496A;
    /* width: 5rem; */
    border: none;
}

.btn-red:hover{
    background-color: #FF496A;
    box-shadow: 0 0 3px black;
}

.btns{
    display: flex;
}

.btn-dark{
    margin-left: 20px;
}

.btn-dark:hover{
    box-shadow: 0  0 3px rgb(0, 0, 0) !important;
}
