<% layout('/layouts/boilerplate.ejs') %>
    <h2 class="text-2xl font-bold mb-6">Login</h2>

    <div class="flex justify-center">
        <div class="w-3/4 lg:w-1/2">

            <form method="post" action="/login" class="needs-validation" novalidate>

                <div class="mb-4">
                    <label for="username" class="block text-sm font-medium text-gray-700">Username</label>
                    <input type="text" id="username" name="username"
                        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                        required />
                </div>

                <div class="mb-4">
                    <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
                    <input type="password" id="password" name="password"
                        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                        required />
                </div>

                <button
                    class="w-full py-2 px-4 bg-red-500 text-white font-semibold rounded-md hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2">Submit</button>
            </form>

            <p class="mt-4 text-center">
                New user? <a href="/signup" class="text-indigo-600 hover:underline">Click here to sign up</a>
            </p>
        </div>
    </div>